<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Denticare"
        tools:targetApi="31">
        <activity
            android:name=".CadCell"
            android:exported="false" />
        <activity
            android:name=".AgendCell"
            android:exported="false" />
        <activity
            android:name=".ToolBarActivity"
            android:exported="false" />
        <activity
            android:name=".InicialCell"
            android:exported="false" />
        <activity
            android:name=".CadInicial"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".CancelaConsulta"
            android:exported="false" />
        <activity
            android:name=".ConfirmaConsulta"
            android:exported="false" />
        <activity
            android:name=".Consulta"
            android:exported="false" />
        <activity
            android:name=".AddFoto"
            android:exported="false" />
        <activity
            android:name=".SelClienteFoto"
            android:exported="false" />
        <activity
            android:name=".GeraPDF"
            android:exported="false" />
        <activity
            android:name=".AtualizaCad"
            android:exported="false" />
        <activity
            android:name=".ConfirmDelete"
            android:exported="false" />
        <activity
            android:name=".DeleteCliente"
            android:exported="false" />
        <activity
            android:name=".CadCliente"
            android:exported="false" />
        <activity
            android:name=".OpcoesCad"
            android:exported="false" />
        <activity
            android:name=".Agenda"
            android:exported="false" />
        <activity
            android:name=".AgendaHorario"
            android:exported="false" />
        <activity
            android:name=".AgendaCliente"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>