<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Denticare"
        tools:targetApi="31">
        <activity
            android:name=".tela_cancelar_consulta"
            android:exported="false" />
        <activity
            android:name=".tela_confirma_consulta"
            android:exported="false" />
        <activity
            android:name=".tela_consulta"
            android:exported="false" />
        <activity
            android:name=".tela_add_foto"
            android:exported="false" />
        <activity
            android:name=".tela_esclh_client_foto"
            android:exported="false" />
        <activity
            android:name=".tela_gerar_pdf"
            android:exported="false" />
        <activity
            android:name=".tela_atua_cdst"
            android:exported="false" />
        <activity
            android:name=".tela_confir_remo_cdst"
            android:exported="false" />
        <activity
            android:name=".tela_remo_cliente"
            android:exported="false" />
        <activity
            android:name=".tela_cadastro_cliente"
            android:exported="false" />
        <activity
            android:name=".tela_escolha_cadastro"
            android:exported="false" />
        <activity
            android:name=".tela_agendamento"
            android:exported="false" />
        <activity
            android:name=".tela_agenda_hora"
            android:exported="false" />
        <activity
            android:name=".tela_agend_escolha_cliente"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>